.datatable{
background-color: #191B20;
color: #fff
}
.ePEgUr{
    background-color: black!important;
    color:white
}
.dILRuI{
    background-color: #000;
} 
.rdt_TableRow{
    background-color: black;
}
.css-ahj2mt-MuiTypography-root {
    border-radius: 20px;
}